* {
	margin: 0;
	padding: 0;
}

.cards {
	margin: 50px auto;
	padding: 30px;
	width: 568px;
}

#playerTop {
	height: 15%;
	width: 90%;
	position: absolute;
	top: 1%;
	left: 5%;
	border: solid 1px blue;
}

#playerTop img{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#playerBottom {
	height: 15%;
	width: 90%;
	position: absolute;
	bottom: 1%;
	left: 5%;
	border: solid 1px green;
}

#playerLeft {
	height: 66%;
	width: 15%;
	position: absolute;
	top: 17%;
	left: 1%;
	border: solid 1px red;
}

#playerLeft img {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#playerRight {
	height: 66%;
	width: 15%;
	position: absolute;
	top: 17%;
	right: 1%;
	border: solid 1px black;
}

#playerRight img {
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#playerCards {
	height: 25%;
	width: 50%;
	position: absolute;
	bottom: 20%;
	left: 25%;
	border: solid 1px purple;
}

#playarea {
	margin: auto;
	padding: 0;
	width: 800px;
	height: 800px;
	position: relative;
}

.progress {
	margin-top: 34%;
}

.container {
	background-color: aliceblue;
	width: 800px;
	height: 800px;
	margin: 10px auto;
	border: 1px outset #ccc;
}


.button-container {
	margin-left: auto;
	margin-right: auto;
	width: 200px;

}
#playerCard1:hover, #playerCard2:hover { 
	border: solid 2px #FFFF00;
}
#gameLogButton {
	margin-left: 90%;
	margin-top: 2px;
}