* {
	margin: 0;
	padding: 0;
}

.cards {
	margin: 50px auto;
	padding: 30px;
	width: 568px;
}
#playAgainButton {
	display: none;
}
#playerTop {
	background-color:rgba(240,248,255,0.5);
	height: 15%;
	width: 90%;
	position: absolute;
	top: 1%;
	left: 5%;
	border: solid 1px blue;
	border-radius: 8px;
}

#playerTop img{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#playerBottom {
	background-color:rgba(240,248,255,0.5);
	height: 15%;
	width: 90%;
	position: absolute;
	bottom: 1%;
	left: 5%;
	border: solid 1px green;
	border-radius: 8px;
}

#playerLeft {
	background-color:rgba(240,248,255,0.5);
	height: 66%;
	width: 15%;
	position: absolute;
	top: 17%;
	left: 1%;
	border: solid 1px red;
	border-radius: 8px;
}

#playerLeft img {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#playerRight {
	background-color:rgba(240,248,255,0.5);
	height: 66%;
	width: 15%;
	position: absolute;
	top: 17%;
	right: 1%;
	border: solid 1px black;
	border-radius: 8px;
}

#playerRight img {
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#playerCards {
	background-color:rgba(240,248,255,0.5);
	border-radius: 8px;
	height: 25%;
	width: 50%;
	position: absolute;
	bottom: 20%;
	left: 25%;
	border: solid 1px purple;
}

#cardsInDeck {
	color: red;
}

#playarea {
	margin: auto;
	padding: 0;
	width: 800px;
	height: 800px;
	position: relative;
}

.progress {
	margin-top: 34%;
}

.container {
	background-image: url("../images/CardTableFelt.jpg");
	background-color: aliceblue;
	width: 800px;
	height: 800px;
	margin: 10px auto;
	border: 1px outset #ccc;
	border-radius: 15px;
}

.button-container {
	margin-left: auto;
	margin-right: auto;
	width: 200px;

}

#playerCard1, #playerCard2 {
opacity:1.0;
}

#playerCard1:hover, #playerCard2:hover { 
	opacity: 1.0;
	border: solid 2px #FFFF00;
}

#gameLogButton , #playAgainButton{
	margin-left: 90%;
	margin-top: 2px;
}

.modal-header:hover {
	cursor: move;
}

.modal-backdrop {
	background: none !important;
}